# ===== .NET / Visual Studio =====
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# ===== Rider =====
.idea/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Node =====
node_modules/
dist/
build/

# ===== Env =====
.env
.env.*
appsettings.Development.json
